extends layout

block content
    #wholeContainer.ordinaryUser
        #baseContent
          #header
            #goBack
                img(id="goBackArrow", src="../images/arrow_goBack_white.png")
            h1 IMD WALL
            #account
                img(id="accountPic", src="../images/profilePic.png")
          //#login
          //  h2 Login here
          //  ul
          //      li: img(id="facebook", src="../images/facebook_white.png")
          //      li: img(id="twitter", src="../images/twitter_white.png")
          #content
            #leftSide
                p.category 
                    span Current questions
                #topicList
                    span(class='hiddenMessageCount') #{count}
                    ul#questionList(class='allCurrentQuestion')
                        for q in questions
                            li(id='message#{q.id}', class='questionItem animateQuestion', data-votedup='false', data-voteddown='false')
                                div(class='messageCon even #{q.chatType}')
                                    span(class='typeColor#{q.chatType}')
                                    .messageConSec
                                        .messageDetails
                                            .profile
                                                img(src='../images/profilePic.png' alt='')
                                            .votes
                                                .voteInfo
                                                    h1.votesNr
                                                        .voteCounter #{q.votes}
                                                        | votes
                                                .voteAction
                                                    ul
                                                        li
                                                            span(class='up voteUp')
                                                        li
                                                            span(class='down voteDown')
                                        .messageContent
                                            .name
                                                h1 #{q.sender}
                                            .text
                                                h2 #{q.message}
                                            .time
                                                h3 #{q.chatTime.toDateString()}

                            
                                        
            #rightSide
                p.questionHeader
                    span Ask a question
                </br>
                ul#form
                    li: textarea(name='questionField', id='questionField', placeholder="your message", maxlength="500", rows="3" )
                    li: p.errorMessage 
                    li: p.charactersLeft
                    li: #sendTypes
                            input(type='radio', name='questionType', id='questionType', value='question') 
                            label(for='questionType', class='sendType') Question
                            input(type='radio',name='questionType', id='answerType', value='answer') 
                            label(for='answerType', class='sendType') Answer
                    li: input#submitQuestion(type="submit", value="Send")
        #accountOptions
            #options 
                h2 My account
                </br>
                p.logout Logout
