extends layout

block content
    #wholeContainer.moderatorAccount
        #baseContent
          #header
            #goBack
                img(id="goBackArrow", src="../images/arrow_goBack_white.png")
            h1 IMD WALL
            #account
                img(id="accountPic", src="../images/user_white.png")
          //#login
          //  h2 Login here
          //  ul
          //      li: img(id="facebook", src="../images/facebook_white.png")
          //      li: img(id="twitter", src="../images/twitter_white.png")
          #content(class="posts")
            ul#questionList(class='moderator')
                for q in questions
                        li(id='message#{q.id}', class='questionItem animateQuestion', data-votedup='false', data-voteddown='false')
                            div(class='messageCon even #{q.chatType}')
                                span(class='typeColor#{q.chatType}')
                                .messageConSec
                                    .messageDetails
                                        .profile
                                            img(src='../images/profilePic.png' alt='')
                                        .votes
                                            .voteInfo
                                                h1.votesNr
                                                    .voteCounter 0
                                                    | votes
                                            .deleteAction
                                                span(class='delete')
                                    .messageContent
                                        .name
                                            h1 #{q.sender}
                                        .text
                                            h2 #{q.message}
                                        .time
                                            h3 #{q.chatTime.toDateString()}




        #accountOptions
            #options 
                h2 My account
                </br>
                p.logout Logout
