extends layout

block content
    #wholeContainer.moderatorAccount
        #baseContent
          #header
            h1
            a(class='logout', href='/logout', alt='Logout', title='logout')
                .te  Logout
          #content(class="posts")
            span(class='hiddenMessageCount') #{count}
            ul#questionList(class='moderator')
                for q in questions
                        li(id='message#{q.id}', class='questionItem animateQuestion', data-votedup='false', data-voteddown='false')
                            div(class='messageCon even #{q.chatType}')
                                span(class='typeColor#{q.chatType}')
                                .messageConSec
                                    .messageDetails
                                        .profile
                                            img(src= "#{q.senderPicURL}", alt='sender', id='sender')
                                        .deleteAction
                                                span(class='delete')
                                        .votesMod
                                            .voteInfo
                                                h1.votesNr
                                                    .voteCounter #{q.votes}
                                                    | votes
                                    .messageContent
                                        .name
                                            h1 #{q.sender}
                                        .text
                                            h2 #{q.message}
                                        .time
                                            h3 #{q.chatTime.toDateString()}
        #footer
